global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100']
  - job_name: 'ec2s'
    ec2_sd_configs:
      - region: eu-west-1 # EC2 region
        port: 9100 # node exporters port
    relabel_configs:
      - source_labels: [__meta_ec2_instance_state]
        regex: running
        action: keep
      - source_labels: [__meta_ec2_tag_Purpose]
        regex: frontend
        action: keep
      - source_labels: [__meta_ec2_tag_Purpose]
        regex: backend
        action: keep
