---
#----------------------------------------copy ssh key
- name: Copy private key
  ansible.builtin.copy:
    src: /home/ec2-user/.ssh/id_rsa
    dest: /home/ec2-user/.ssh/id_rsa

- name: Change file ownership, group and permissions
  ansible.builtin.file:
    path: /home/ec2-user/.ssh/id_rsa
    owner: ec2-user
    group: ec2-user
    mode: '0400'


